.idea
.vscode
lastupdate.tmp
travel-app
travel-app.exe
travel-app.out
routers/commentsRouter__*.go
static/storage/*
.env
*.log
*.pprof
*.memprof
data
venv
.pro.env
.test.env
.dev.env
.DS_Store
app/
*.exe
*.zip